@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .checked {
        @apply line-through text-slate-700;
    }

    .container-width {
        width: min(600px, 90%);
    }

    .todo {
        @apply flex item-center justify-center gap-3 py-2 px-4 rounded-md bg-orange-100;
    }

    .todo-item {
        list-style: none;
        font-size: 18px;
        width: 100%;
        @apply text-slate-700;
    }

    .checked-btn,
    .trash-btn {
        font-size: 24px;
        @apply text-slate-700;
    }
}
