@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .checked {
        @apply line-through text-slate-700;
    }

    .container-width {
        width: min(600px, 90%);
    }

    .todo {
        @apply flex items-center justify-center gap-3 py-2 px-4 rounded-md bg-indigo-100 transition-all duration-[400ms] ease-linear;
    }

    .todo-item {
        @apply list-none text-lg w-full text-slate-700;
    }

    .checked-btn,
    .trash-btn {
        @apply text-2xl text-slate-700;
    }

    .fa-trash,
    .fa-circle-check {
        @apply pointer-events-none;
    }

    .checked {
        @apply line-through;
        text-decoration-thickness: 3px;
    }

    .complete {
        @apply text-green-600;
    }

    .swipe {
        transform: translateX(100%);
        opacity: 0;
    }
}
